# 깃허브에 올리지 않을 파일 목록
# 특히 .env는 DB 비밀번호가 들어있어서 해킹 위험이 크니까 무조건 포함시켜야 함
.env

db/data/

# 파이썬 캐시 파일
__pycache__/
*.pyc

# 윈도우 환경에서 폴더를 열어볼 때 자동으로 생기는 숨김 파일(미리보기 캐시 등)
# 프로젝트 코드랑 전혀 상관없는 찌꺼기 파일
Thumbs.db
desktop.ini

# 맥OS 환경에서 생기는 시스템 파일
.DS_Store