# Environments
venv/
env/
.venv/
.env
.env.local
.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.pyc
db/data/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
*.sqlite

# 개인적으로 적용할 깃이그노어
.rules
backend/tests/
scripts/
backend/scripts/
.claude/
CLAUDE.md